{
  "openapi": "3.1.0",
  "info": {
    "title": "Resume Master API",
    "version": "1.0.0",
    "description": "GENERATED by `node scripts/generateContract.mjs` — never hand-edited. Stateless: nothing a caller sends is stored or logged. The claim guard runs on every generated document before it is returned. See docs/API.md for the promises this contract carries."
  },
  "servers": [
    {
      "url": "https://resumemaster.one"
    }
  ],
  "x-not-found": {
    "description": "Any path not listed answers 404 with the Error schema — never a page.",
    "responses": {
      "404": {
        "schema": {
          "$ref": "#/components/schemas/Error"
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "clientToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "`rmk_<clientId>.<secret>`, one per client. The service stores only its sha256."
      }
    },
    "schemas": {
      "Health": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "service": {
            "type": "string"
          }
        },
        "required": [
          "ok",
          "service"
        ]
      },
      "Version": {
        "type": "object",
        "description": "Assert `service`, never the status: an unknown path elsewhere may answer 200 with HTML.",
        "properties": {
          "service": {
            "type": "string",
            "enum": [
              "resume-master"
            ]
          },
          "version": {
            "type": "string"
          },
          "commit": {
            "type": [
              "string",
              "null"
            ]
          },
          "scorer": {
            "type": "string"
          },
          "llmFormat": {
            "type": "boolean"
          }
        },
        "required": [
          "service",
          "version",
          "commit",
          "scorer",
          "llmFormat"
        ]
      },
      "Candidate": {
        "type": "object",
        "description": "yearsOfExperience is THE AUTHORITY the claim guard enforces; a JD may not change it.",
        "properties": {
          "fullName": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "linkedinUrl": {
            "type": "string"
          },
          "githubUrl": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "yearsOfExperience": {
            "type": [
              "number",
              "null"
            ]
          }
        },
        "required": []
      },
      "JobProfile": {
        "type": "object",
        "description": "seniority is the candidate's own declaration: the document may use it and may not exceed it.",
        "properties": {
          "name": {
            "type": "string"
          },
          "seniority": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "junior",
              "mid",
              "senior",
              "executive",
              null
            ]
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "actionVerbs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "name"
        ]
      },
      "Claims": {
        "type": "object",
        "description": "Skills and verbs the CANDIDATE asserts. Never a title, level or headline.",
        "properties": {
          "skills": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "actionVerbs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": []
      },
      "Job": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "stack": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "title"
        ]
      },
      "GenerateRequest": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "GENERATE",
              "A_PLUS"
            ]
          },
          "domainModuleKey": {
            "type": "string"
          },
          "roleFamily": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "candidate": {
            "$ref": "#/components/schemas/Candidate"
          },
          "profile": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/JobProfile"
              },
              {
                "type": "null"
              }
            ]
          },
          "claims": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Claims"
              },
              {
                "type": "null"
              }
            ]
          },
          "employers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "job": {
            "$ref": "#/components/schemas/Job"
          },
          "baseResumeText": {
            "type": "string"
          },
          "options": {
            "type": "object",
            "properties": {
              "includeSummary": {
                "type": "boolean"
              }
            },
            "required": []
          }
        },
        "required": [
          "job",
          "baseResumeText"
        ]
      },
      "GenerateResponse": {
        "type": "object",
        "description": "Only ever returned for a document that PASSED the claim guard.",
        "properties": {
          "html": {
            "type": "string"
          },
          "domainModuleKey": {
            "type": "string"
          },
          "claimCheck": {
            "type": "object",
            "properties": {
              "ok": {
                "type": "boolean",
                "enum": [
                  true
                ]
              },
              "inspected": {
                "$ref": "#/components/schemas/ClaimInspection"
              }
            },
            "required": [
              "ok",
              "inspected"
            ]
          },
          "usage": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UsageRecord"
            }
          }
        },
        "required": [
          "html",
          "domainModuleKey",
          "claimCheck",
          "usage"
        ]
      },
      "EnhanceRequest": {
        "type": "object",
        "properties": {
          "resumeText": {
            "type": "string"
          },
          "profile": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "roleFamily": {
                "type": "string"
              },
              "domain": {
                "type": "string"
              }
            },
            "required": []
          },
          "selectedAdditions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "resumeText"
        ]
      },
      "EnhanceResponse": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          },
          "usage": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UsageRecord"
            }
          }
        },
        "required": [
          "text",
          "usage"
        ]
      },
      "ParsePdfRequest": {
        "type": "object",
        "description": "A PDF of at most 10 MB, base64-encoded.",
        "properties": {
          "pdfBase64": {
            "type": "string"
          }
        },
        "required": [
          "pdfBase64"
        ]
      },
      "ParsePdfResponse": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          },
          "chars": {
            "type": "number"
          },
          "usage": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UsageRecord"
            }
          }
        },
        "required": [
          "text",
          "chars",
          "usage"
        ]
      },
      "FormatRequest": {
        "type": "object",
        "properties": {
          "html": {
            "type": "string"
          }
        },
        "required": [
          "html"
        ]
      },
      "FormatResponse": {
        "type": "object",
        "properties": {
          "html": {
            "type": "string"
          }
        },
        "required": [
          "html"
        ]
      },
      "AtsScoreRequest": {
        "type": "object",
        "description": "termWeights/synonyms are arrays of [key, value] pairs — JSON has no Map. Any other shape is a 400, never a silent unweighted score.",
        "properties": {
          "job": {
            "$ref": "#/components/schemas/Job"
          },
          "resumeText": {
            "type": "string"
          },
          "signalProfile": {
            "type": "object"
          },
          "domainProfile": {
            "type": "object"
          },
          "claims": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Claims"
              },
              {
                "type": "null"
              }
            ]
          },
          "termWeights": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "array"
            }
          },
          "synonyms": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "array"
            }
          }
        },
        "required": [
          "job",
          "resumeText"
        ]
      },
      "AtsScoreResponse": {
        "type": "object",
        "properties": {
          "report": {
            "$ref": "#/components/schemas/AtsReport"
          }
        },
        "required": [
          "report"
        ]
      },
      "Error": {
        "type": "object",
        "description": "`retryable` is present on every model-backed and auth error. ⛔ A non-retryable failure says so: `retryable: false` for an exhausted balance, a bad key or an unconfigured service. resume_claim_violation carries `violations` and NEVER the document.",
        "properties": {
          "error": {
            "type": "string",
            "enum": [
              "invalid_request",
              "invalid_json",
              "unauthenticated",
              "not_found",
              "payload_too_large",
              "resume_claim_violation",
              "resume_claim_not_inspected",
              "upstream_model_failure",
              "model_unconfigured",
              "auth_unconfigured",
              "limit_exceeded",
              "internal_error"
            ]
          },
          "message": {
            "type": "string"
          },
          "retryable": {
            "type": "boolean"
          },
          "permanent": {
            "type": "boolean"
          },
          "violations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClaimViolation"
            }
          },
          "usage": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UsageRecord"
            }
          }
        },
        "required": [
          "error"
        ]
      },
      "AtsReport": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string"
          },
          "score": {
            "type": [
              "null",
              "number"
            ]
          },
          "scorable": {
            "type": "boolean"
          },
          "decline_reasons": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "weighting": {
            "type": "object",
            "properties": {
              "applied": {
                "type": "boolean"
              },
              "terms": {
                "type": "number"
              }
            },
            "required": [
              "applied",
              "terms"
            ]
          },
          "seniority_cap": {
            "type": "object",
            "properties": {
              "applied": {
                "type": "boolean"
              },
              "cap": {
                "type": "number"
              },
              "raw_score": {
                "type": "number"
              },
              "reason": {
                "type": "string"
              }
            },
            "required": [
              "applied"
            ]
          },
          "claimed_matches": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tier1_matched": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tier1_missing": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "competencies_matched": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "competencies_missing": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "action_verbs_matched": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "action_verbs_missing": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "action_verbs_generic": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "experience": {
            "type": "object",
            "properties": {
              "requiredYears": {
                "type": [
                  "null",
                  "number"
                ]
              },
              "candidateYears": {
                "type": [
                  "null",
                  "number"
                ]
              },
              "fit": {
                "type": "boolean"
              },
              "summary": {
                "type": "string"
              }
            },
            "required": [
              "requiredYears",
              "candidateYears",
              "fit",
              "summary"
            ]
          },
          "hard_constraint_misses": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "source",
          "score",
          "scorable",
          "decline_reasons",
          "weighting",
          "seniority_cap",
          "claimed_matches",
          "tier1_matched",
          "tier1_missing",
          "competencies_matched",
          "competencies_missing",
          "action_verbs_matched",
          "action_verbs_missing",
          "action_verbs_generic",
          "experience",
          "hard_constraint_misses"
        ],
        "description": "DERIVED BY EXECUTING @draft/ats-scorer scoreAtsLocally over 9 scenarios. Do not hand-edit — regenerate with `node scripts/generateContract.mjs`. No band is included: bands are each product's presentation decision."
      },
      "UsageRecord": {
        "type": "object",
        "properties": {
          "purpose": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          },
          "input_tokens": {
            "type": "number"
          },
          "output_tokens": {
            "type": "number"
          },
          "cache_creation_input_tokens": {
            "type": "number"
          },
          "cache_read_input_tokens": {
            "type": "number"
          },
          "duration_ms": {
            "type": "number"
          }
        },
        "required": [
          "purpose",
          "model",
          "success",
          "input_tokens",
          "output_tokens",
          "cache_creation_input_tokens",
          "cache_read_input_tokens",
          "duration_ms"
        ],
        "description": "DERIVED BY EXECUTING src/model/anthropicCall.js callAnthropic over 3 scenarios. Do not hand-edit — regenerate with `node scripts/generateContract.mjs`. Counts, never content. Returned for every model call, failed calls included."
      },
      "ClaimViolation": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string"
          },
          "claimed": {
            "type": [
              "number",
              "string"
            ]
          },
          "allowed": {
            "type": [
              "number",
              "string"
            ]
          },
          "evidence": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "kind",
          "claimed",
          "allowed",
          "evidence",
          "message"
        ],
        "description": "DERIVED BY EXECUTING the claim guard (checkResumeClaims) over 6 scenarios. Do not hand-edit — regenerate with `node scripts/generateContract.mjs`. `claimed`/`allowed` are numbers for a years violation and strings for a seniority one."
      },
      "ClaimInspection": {
        "type": "object",
        "properties": {
          "documentChars": {
            "type": "number"
          },
          "headlineRegion": {
            "type": "string"
          },
          "headlineChars": {
            "type": "number"
          },
          "seniorityCeilingKnown": {
            "type": "boolean"
          }
        },
        "required": [
          "documentChars",
          "headlineRegion",
          "headlineChars",
          "seniorityCeilingKnown"
        ],
        "description": "DERIVED BY EXECUTING the claim guard over 6 scenarios. Do not hand-edit — regenerate with `node scripts/generateContract.mjs`. What the guard READ. documentChars > 0 on every returned document: the guard refuses to pass one it did not read."
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "summary": "GET /health",
        "security": [],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          }
        }
      }
    },
    "/v1/version": {
      "get": {
        "summary": "GET /v1/version",
        "security": [],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Version"
                }
              }
            }
          }
        }
      }
    },
    "/v1/resumes/format": {
      "post": {
        "summary": "[free] POST /v1/resumes/format",
        "security": [
          {
            "clientToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormatResponse"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "413",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "503",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ats/score": {
      "post": {
        "summary": "[free] POST /v1/ats/score",
        "security": [
          {
            "clientToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AtsScoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AtsScoreResponse"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "413",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "503",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/resumes/generate": {
      "post": {
        "summary": "[metered] POST /v1/resumes/generate",
        "security": [
          {
            "clientToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateResponse"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "413",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "502",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "503",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/resumes/enhance": {
      "post": {
        "summary": "[metered] POST /v1/resumes/enhance",
        "security": [
          {
            "clientToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnhanceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnhanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "413",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "502",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "503",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/resumes/parse-pdf": {
      "post": {
        "summary": "[metered] POST /v1/resumes/parse-pdf",
        "security": [
          {
            "clientToken": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParsePdfRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParsePdfResponse"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "413",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "502",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "503",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  }
}
